:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000000;
    --secondary-dark-color: #2F303A;
    --secondary-white-color: #F5F4FA;
    --icon-grey-color: #AFB1B8;
    --cubic-bez-index: cubic-bezier(0.4, 0, 0.2, 1);
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

/* ----------------UTILITIES---------------- */

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-text-color);


    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
}


.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ----------------ALL PAGES---------------- */
/* ----------------SITE HEADER---------------- */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    text-decoration: none;

    margin-right: 93px;

    padding-top: 24px;
    padding-bottom: 25px;
}


.logo__studio--dark {
    color: var(--primary-black-color);
}

.site__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site__list :not(:last-child) {
    margin-right: 50px;
}


.site__link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-align: left;

    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;
    transition: color 250ms var(--cubic-bez-index);

}

.site__link::after {
    position: absolute;
    display: block;
    bottom: -1px;

    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms var(--cubic-bez-index);
    transform-origin: left center;
}

.site__link:hover,
.site__link:focus {
    color: var(--accent-color);
}

.site__link:hover::after,
.site__link:focus::after {
    transform: scaleX(1);
}

.site__link--current {
    color: var(--accent-color);
}

.site__link--current {
    position: relative;
}

.site__link--current::before {
    position: absolute;
    display: block;
    bottom: -1px;

    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.contacts {
    display: flex;
    padding: 0;
    margin-left: auto;
    list-style: none;
}

.contacts__item:not(:last-child) {
    margin-right: 30px;
}

.contacts__link {
    color: inherit;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
}

/* ----------------"Студiя" page CSS---------------- */

/* ----------------HERO SECTION---------------- */

.hero {
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    text-align: center;
    background-color: #c4c4c4;


    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30px;

}

.hero__button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-family: inherit;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;

    display: inline-block;
    padding: 10px 32px;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;

    transition: background-color 250ms var(--cubic-bez-index);
}

.hero__button:hover,
.hero__button:focus {
    background-color: #188CE8;
}

/* ----------------ADVANTAGES---------------- */


.section--no-padding-bottom {
    padding-bottom: 0;
}

.advantages {
    display: flex;
    list-style: none;
}

.advantages__item {
    margin-right: 30px;
    width: calc((100% - 90px) / 4);

}

.advantages__item:last-child {
    margin-right: 0;
}

.advantages__icon {
    background-color: var(--secondary-white-color);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

}

.advantages__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;

    margin-bottom: 10px;
}

.advantages__description {
    font-size: 14px;
    line-height: 1.71;
}

/* ----------------WHAT CAN WE MAKE---------------- */

.section--centralized-text {
    vertical-align: top;
    text-align: center;
}

.making {
    display: flex;
    list-style: none;
}

.making__item {
    position: relative;

    display: flex;
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
}

.making__item:last-child {
    margin-right: 0;
}

.making__description {
    background: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    position: absolute;
    bottom: 0;
    right: 0;
}

/* ----------------TEAM---------------- */

.section--team-background {
    background-color: var(--secondary-white-color);
}

.team {
    display: flex;
    list-style: none;
}

.team__item {
    width: 270px;
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.team__wrapper {
    padding: 30px 0;
}

.team__title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
    text-align: center;
}

.team__description {
    font-size: 16px;
    line-height: 1.19;
    margin: 0;
    text-align: center;
}

.networks {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 16px;
}

.networks__item {
    width: 44px;
    height: 44px;
}

.networks__item:not(:first-child) {
    margin-left: 10px;
}

.networks__link {
    color: var(--icon-grey-color);

    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.networks__icon {
    fill: currentColor;

}

.networks__link:hover,
.networks__link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* ----------------CLIENTS---------------- */

.section__title {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients {
    list-style: none;

    display: flex;
    margin-left: -30px;
}

.clients__item {
    margin-left: 30px;
}

.clients__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--icon-grey-color);
    border-radius: 4px;
    color: var(--icon-grey-color)
}

.clients__icon {
    fill: currentColor;
    margin: 16px 32px;
    align-items: center;
}

.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/* ----------------BACKDROP---------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--cubic-bez-index), visibility 250ms var(--cubic-bez-index);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    background-color: var(--primary-white-color);
    box-shadow: var(--card-shadow);

    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;

    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    transition: opacity 250ms var(--cubic-bez-index), transform 250ms var(--cubic-bez-index),
        box-shadow 250ms var(--cubic-bez-index) 250ms;
}

.modal__title {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.modal-form__wrapper {
    margin-bottom: 20px;
}

.modal-form__user-info {
    position: relative;
    display: flex;
    flex-direction: column;

}

.modal-form__user-info:not(:last-child) {
    margin-bottom: 10px;
}

.modal-form__label {
    display: block;
    text-align: left;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

}

.modal-form__input {
    padding: 0;
    margin: 0;

    padding-left: 42px;

    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms var(--cubic-bez-index);

}

.modal-form__input:focus {
    border-color: var(--accent-color);
}

.modal-form__input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms var(--cubic-bez-index);
}

.modal-form__textarea {
    width: 100%;
    height: 120px;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: border-color 250ms var(--cubic-bez-index);
}

.modal-form__textarea:focus {
    border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__input-icon {
    fill: var(--accent-color);
}

.modal-form__textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-rules {
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-rules__label {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.modal-rules__label .modal-rules__icon-check {
    display: flex;
    align-items: center;

    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 8px;
}

.modal-rules__icon-check {
    fill: var(--primary-white-color);
}

.modal-rules__check:checked + .modal-rules__label .modal-rules__icon-check {
    background-color: var(--accent-color);
    border: none;
    transition: background-color 250ms var(--cubic-bez-index);
}

.modal-rules__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration-skip-ink: none;
    color: var(--accent-color);
    margin-left: 5px;
}

.modal-rules__submit-button {
    padding: 10px 55px;
    min-width: 200px;
    display: block;

    text-align: center;
    margin: 0 auto;
    margin-top: 30px;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--cubic-bez-index), box-shadow 250ms var(--cubic-bez-index);
}

.modal-rules__submit-button:hover,
.modal-rules__submit-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #188CE8;
}

.modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: var(--accent-color);
    transition: fill 250ms var(--cubic-bez-index);

    background-color: transparent;

}

.modal__close-button:hover,
.modal__close-button:focus {
    fill: currentColor;
}

/* ----------------"Портфолiо" page CSS---------------- */

/* ----------------PROJECT FILLTER---------------- */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__button {
    color: var(--title-text-color);
    background-color: var(--secondary-white-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    transition: color 250ms var(--cubic-bez-index), background-color 250ms var(--cubic-bez-index),
        box-shadow 250ms var(--cubic-bez-index);
}

.filter__button:hover,
.filter__button:focus {
    background: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------------PROJECT LIST---------------- */

.project {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.project__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}
.project__item:nth-child(3n) {
    margin-right: 0;
}

.project__item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project__item:hover .project__text,
.project__item:focus .project__text {
    transform: translateY(0);
}

.project__link {
    display: block;
    transition: box-shadow 250ms var(--cubic-bez-index);
}

.project__link:hover,
.project__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__wrapper {
    position: relative;
    overflow: hidden;
}

.project__text {
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    font-size: 18px;
    line-height: 1.5;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic-bez-index);

    display: block;
}

.project a {
    color: inherit;
    text-decoration: none;
}

.project img {
    display: block;
}

.project__gallery {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.project__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;

    margin-bottom: 4px;

}

.project__description {
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    font-weight: 400;

    color: var(--primary-text-color);
}

/* ----------------FOOTER---------------- */

.footer {
    background-color: var(--secondary-dark-color);
    padding: 60px 0;
}

.footer__wrapper {
    display: flex;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;
}

.logo__studio--light {
    color: var(--primary-white-color);
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts__location {
    color: var(--primary-white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    text-decoration: none;
}

.footer-contacts__location:hover,
.footer-contacts__location:focus {
    color: var(--accent-color);
}

.footer-contacts__link {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;

    text-decoration: none;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-color);
}

.footer-socials {
    margin-left: 70px;
    margin-top: 12px;
}

.footer-socials__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);

    margin-bottom: 20px;
}

.footer-socials__list {
    display: flex;
    justify-content: center;
}

.footer-socials__item {
    width: 44px;
    height: 44px;
}

.footer-socials__item:not(:first-child) {
    margin-left: 10px;
}

.footer-socials__link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);

    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-socials__link:hover,
.footer-socials__link:focus {
    background-color: var(--accent-color);
}

.footer-socials__icon {
    fill: currentColor;
}

.footer-subscribe {
    margin-left: auto; 
    margin-top: 12px;
}

 .footer-subscribe__title {
     display: block;
     margin-bottom: 20px;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--primary-white-color);
 }

 .footer-subscribe__form {
     display: flex;
 }

.footer-subscribe__input {
    width: 358px;
    height: 50px;

    padding: 15px 16px;

    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;

    color: var(--primary-white-color);
}

.footer-subscribe__button {
    margin-left: 12px;

    min-width: 200px;
    height: 50px;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border-radius: 4px;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;

    transition: background-color 250ms var(--cubic-bez-index);
}

.footer-subscribe__button:hover,
.footer-subscribe__button:focus {
    background-color: #188CE8;
}

 .footer-subscribe__icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
}

