.clients {
    list-style: none;

    display: flex;
    margin-left: -30px;
}

.clients__item {
    margin-left: 30px;
}

.clients__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $icon-grey-color;
    border-radius: 4px;
    color: $icon-grey-color;

    &:hover,
    &:focus {
        color: $accent-color;
        border-color: $accent-color;
    }
}

.clients__icon {
    fill: currentColor;
    margin: 16px 32px;
    align-items: center;
}
