.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__button {
    color: $title-text-color;
    background-color: $secondary-white-color;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    transition: color 250ms $cubic-bez-index, background-color 250ms $cubic-bez-index,
    box-shadow 250ms $cubic-bez-index;

    &:hover,
    &:focus {
    background: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
